.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  background-color: teal;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h3 {
  font-style: oblique;
}

#website {
  text-decoration: underline;
  
}

.todo-info {
  margin-top: 10px;
}

#ret {
  margin-bottom: 5px;
  margin-top: 15px;
  font-style: italic;
}